@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E;
    color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    margin: 20px;
    background: #2A2A2A;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.down{
    padding: 19px;
    
}

.left-page {
    width: 45%;
    background: #1A1A1A;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-page h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.temp-display {
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.temp-display i {
    font-size: 70px;
    margin-right: 15px;
}

.temp-details {
    display: flex;
    content: icon;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.temp-details p {
    padding: 10px;
    bottom: 10px;
}

.right-page {
    width: 55%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.nav-bar button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-bar .active, .nav-bar button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.forecast-list {
    flex-grow: 1;
    overflow-y: auto;
}

.forecast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.forecast span {
    font-size: 14px;
}

/* From Uiverse.io by Smit-Prajapati */ 
.search{
    position: relative;
    background: linear-gradient(135deg, rgb(179, 208, 253) 0%, rgb(164, 202, 248) 100%);
    border-radius: 100px;
    padding: 5px;
    display:flex;
    place-content: center;
    z-index: 0;
    max-width: 300px;
    margin: 125px 0px 50px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .search-container::after, .search-container::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  .search-container::before {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
    z-index: -1;
  }
  
  .search-container::after {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
    box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    z-index: -2;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    border: none;
    color: #374246;
    font-size: 20px;
    border-radius: 50px;
  }
  
  .input:focus {
    outline: none;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
  }
  
  .search__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
  }
  
  .search__icon:hover {
    border-left: 3px solid white;
  }
  
  .search__icon path {
    fill: white;
  }

